<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Transit</a>
    by lSERVu
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", ""  %></li>
      <li><%= link_to "Contact",""  %></li>
      <li><a href="http://news.lservu.com/">lSERVu</a></li>
    </ul>
  </nav>
</footer>